.s4a{
    .myaccount-page {
        label{
            padding:10px 0px;
        }
        textarea{
            border:none;
            background:none;
        }
        .menu{
            padding-top:10px;
            padding-bottom:10px;
            a{
                height:100px;
                display: block;
                height: 100px;
                text-align: center;
                text-decoration:none;
                i{
                    display:block;
                    font-size:80px;
                    margin-bottom:10px;
                }
            }
        }
        .my-profile {
            margin-bottom: 60px;
        }
        table {
            thead {
                tr {
                    th {
                        font-size: 14px;
                        font-weight: 400;
                        text-align: center;
                        padding: 20px 24px;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        font-size: 14px;
                        font-weight: 400;
                        padding: 20px 24px;
                        border-left: 1px solid !important;
                        &:first-child {
                            border-left: none !important;
                        }
                    }
                }
            }
        }
    }
}
.s4a{
    .myaccount-page {
        .menu {
            a.active{
                color: #574d44;
            }
        }
        .my-profile{
            input[type=text], input[type=password], input[type=email],textarea, select{
                color: #333;
                background-color: #f2f2f2;
                border:none;
                padding: 8px 15px;
                display: block;
                width: 100%;
            }
        }
        table {
            thead {
                tr {
                    background-color: #574d44;
                    th {
                        color: #fff;
                    }
                }
            }
            tbody {
                tr {
                    background-color: #fff;
                    &:nth-child(2n) {
                        background-color: #ebebeb;
                    }
                    td {
                        color: #333333;
                        border-color: #d7d7d7 !important;
                    }
                }
            }
        }
    }
}
