.datepicker {
    top: 0;
    left: 0;
    padding: 4px;
    margin-top: 1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    >div {
        display: none;
    }
    table {
        width: 100%;
        margin: 0;
    }
    td {
        text-align: center;
        width: 20px;
        height: 20px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        span {
            display: block;
            width: 47px;
            height: 54px;
            line-height: 54px;
            float: left;
            margin: 2px;
            cursor: pointer;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            &:hover {
                background: #eeeeee;
            }
        }
        span.active {
            color: #ffffff;
            background-color: #006dcc;
            background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
            background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
            background-image: -o-linear-gradient(top, #0088cc, #0044cc);
            background-image: linear-gradient(to bottom, #0088cc, #0044cc);
            background-repeat: repeat-x;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
            border-color: #0044cc #0044cc #002a80;
            border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
            *background-color: #0044cc;
            filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
            color: #fff;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
            &:hover {
                color: #ffffff;
                background-color: #0044cc;
                *background-color: #003bb3;
            }
            &:focus {
                color: #ffffff;
                background-color: #0044cc;
                *background-color: #003bb3;
            }
            &:active {
                color: #ffffff;
                background-color: #0044cc;
                *background-color: #003bb3;
                background-color: #003399 \9;
            }
        }
        span.active.active {
            color: #ffffff;
            background-color: #0044cc;
            *background-color: #003bb3;
            background-color: #003399 \9;
        }
        span.active.disabled {
            color: #ffffff;
            background-color: #0044cc;
            *background-color: #003bb3;
        }
        span.active[disabled] {
            color: #ffffff;
            background-color: #0044cc;
            *background-color: #003bb3;
        }
        span.old {
            color: #999999;
        }
    }
    th {
        text-align: center;
        width: 20px;
        height: 20px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }
    td.day {
        &:hover {
            background: #eeeeee;
            cursor: pointer;
        }
    }
    td.day.disabled {
        color: #eeeeee;
    }
    td.old {
        color: #999999;
    }
    td.new {
        color: #999999;
    }
    td.active {
        color: #ffffff;
        background-color: #006dcc;
        background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
        background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
        background-image: -o-linear-gradient(top, #0088cc, #0044cc);
        background-image: linear-gradient(to bottom, #0088cc, #0044cc);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
        border-color: #0044cc #0044cc #002a80;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        *background-color: #0044cc;
        filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        &:hover {
            color: #ffffff;
            background-color: #006dcc;
            background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
            background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
            background-image: -o-linear-gradient(top, #0088cc, #0044cc);
            background-image: linear-gradient(to bottom, #0088cc, #0044cc);
            background-repeat: repeat-x;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
            border-color: #0044cc #0044cc #002a80;
            border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
            *background-color: #0044cc;
            filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
            color: #fff;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
            color: #ffffff;
            background-color: #0044cc;
            *background-color: #003bb3;
            &:hover {
                color: #ffffff;
                background-color: #0044cc;
                *background-color: #003bb3;
            }
            &:focus {
                color: #ffffff;
                background-color: #0044cc;
                *background-color: #003bb3;
            }
            &:active {
                color: #ffffff;
                background-color: #0044cc;
                *background-color: #003bb3;
                background-color: #003399 \9;
            }
        }
        &:focus {
            color: #ffffff;
            background-color: #0044cc;
            *background-color: #003bb3;
        }
        &:active {
            color: #ffffff;
            background-color: #0044cc;
            *background-color: #003bb3;
            background-color: #003399 \9;
        }
        &:hover.active {
            color: #ffffff;
            background-color: #0044cc;
            *background-color: #003bb3;
            background-color: #003399 \9;
        }
        &:hover.disabled {
            color: #ffffff;
            background-color: #0044cc;
            *background-color: #003bb3;
        }
        &:hover[disabled] {
            color: #ffffff;
            background-color: #0044cc;
            *background-color: #003bb3;
        }
    }
    td.active.active {
        color: #ffffff;
        background-color: #0044cc;
        *background-color: #003bb3;
        background-color: #003399 \9;
    }
    td.active.disabled {
        color: #ffffff;
        background-color: #0044cc;
        *background-color: #003bb3;
    }
    td.active[disabled] {
        color: #ffffff;
        background-color: #0044cc;
        *background-color: #003bb3;
    }
    th.switch {
        width: 145px;
    }
    th.next {
        font-size: 21px;
    }
    th.prev {
        font-size: 21px;
    }
    thead {
        tr {
            &:first-child {
                th {
                    cursor: pointer;
                    &:hover {
                        background: #eeeeee;
                    }
                }
            }
        }
    }
}
.input-append.date {
    .add-on {
        i {
            display: block;
            cursor: pointer;
            width: 16px;
            height: 16px;
        }
    }
}
.input-prepend.date {
    .add-on {
        i {
            display: block;
            cursor: pointer;
            width: 16px;
            height: 16px;
        }
    }
}
