.s4a
{
    #s4a_enquiry{
      width:100%;
    }
    .css_enquire{
        input[type="text"],input[type="number"],select,textarea{
            border: 1px solid #ccc;
            padding: 4px;
            display: block;
            width: 100%;
            margin-bottom:20px;
        }
        .col-md-6{
            min-height:70px;
        }
    }
}
