.s4a
{
    .css_form{
        label{
            margin-bottom:10px;
        }
        .css_credit label{
            display:block;
        }
        input[type="text"],input[type="email"],select,textarea{
            border: 1px solid #ccc;
            padding: 10px;
            display: block;
            width: 100%;
            margin-bottom:20px;
            border-radius: 5px;
        }
        .radio-wrap{
            padding:10px;
            input{
                margin: 0px 5px;
            }
        }
        input[type="submit"].grn_button{
            padding: 10px;
        }
        .css_dark{
            background:#333;
            color:#fff;
            padding: 20px;
            h3{
                margin: 0 0 20px 0;
            }
        }
    }
}
