#S4A_horizontal_widget {
  input{
      margin: 8px 0;
      padding: 8px 4px;
  }
  .keyword {
      width: 100%;
      &::-webkit-input-placeholder {
          color: #bbb;
      }
      &::-moz-placeholder {
          color: #bbb;
      }
      &:-ms-input-placeholder {
          color: #bbb;
      }
      &:-moz-placeholder {
          color: #bbb;
      }
  }
  .css_date {
      input {
          max-width: 100%;
          width: 100%;
          &::-webkit-input-placeholder {
              color: #bbb;
          }
          &::-moz-placeholder {
              color: #bbb;
          }
          &:-ms-input-placeholder {
              color: #bbb;
          }
          &:-moz-placeholder {
              color: #bbb;
          }
      }
  }
  .submit_search {
      padding: 7px 4px 6px 4px;
      width: 100%;
      color: #fff;
  }
}

#check_availibility_control{
  margin-bottom: 0px;
  background-color: #f2f2f2;
  padding: 20px 10px;

  select{
    width:100%;
  }

  .HCnumberOfUnits {
    padding-left: 15px;
    padding-right: 15px;
  }

      #room_occupents{
          p{
              margin-bottom: 25px;
          }
      }
  
  .css_text_right{
      label{
          vertical-align: top;
          margin-top: 9px;
      }
  }
  #search-availability-offline{
    text-align: center;
    background-color: #b94a48;
    width: 30%;
    padding: 10px;
    float: right;
    margin-top: -20px;
    margin-right: -15px;
    //border-top-right-radius: 10px;
    color: #fff;
  }
  #search-availability {
    text-align: center;
    // background-color: #9BB63C;
    width: 30%;
    padding: 10px;
    float: right;
    margin-top: -20px;
    margin-right: -15px;
    //border-top-right-radius: 10px;
    color: #fff;
  }
  hr{
      border-top: 1px solid #d7d7d7 !important;
      width: 94%;
      margin-top: 30px;
      margin-bottom: 30px;
  }
  .css_inner{
      h3{
          color: #c8c8c8 !important;
          &:after{
              display: none;
          }
      }
  }
  .available_rooms_special {
      background: #c8c8c8;
      color: #fff;
  }
  #get_available_rooms{
    background-color: #fff;
    padding-top: 20px;
    //border-radius: 10px;
    padding-bottom: 10px;
    border-color: #eee;
    border: 1px solid transparent;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);


      label{
          margin-bottom: 5px;
          font-weight: normal;
      }
      .no-api{
          label, input{
              margin:0px;
              float:none;
              margin:10px 0px;
          }
          input{
              width:100%;
              max-width:200px;
          }
          label{
              padding:9px 0px;
          }
      }
  }

  table{
      margin-bottom: 20px;
      border: 1px solid #e7e7e7;
  }
  td,th{
      padding:10px;
      vertical-align: middle;
  }
  th{
      background:#e7e7e7;
      &.channel_actions{
          width:350px;
      }
  }
  #search_dates {
    display: table;
    margin-top: 22px;

    .input-group-addon{
      //border-radius: 4px;
    }

    .datepicker_checkin,.datepicker_checkout{
      text-align: center;
      width: 100%;
      //border-radius: 4px;
      border:1px solid #c8c8c8;
      margin: 0px 0px 0px 0px;
      max-width: unset;
      padding: 11px;
    }

    .datepicker_checkin{

    }
    .input-group-addon{

    }

  }

  input{

  }
  select {
    line-height:normal;
    height:38px;
    -webkit-appearance:menulist;
    // -moz-appearance:menulist;
    -moz-appearance:menulist;
    -ms-appearance:none;
    width: 100%;
    border-radius:6px;
    display:block;
    border:1px solid #c8c8c8!important;
    padding:8px 20px 7px 10px;
    margin:0;
    line-height:normal;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius: 4px!important;

}
  .submit{
      text-transform: uppercase;
      float: right;
      width: 100%;
      // padding: 6px 5px;
      color: white;
      // background-color: #444 ;
      // border: 1px solid #444 ;
      margin-top: 21px;
      border-radius: 4px;
  }
  #js_SearchForSpecials {
    text-align: left;
    text-transform: uppercase;
    // color: #9bb63c;
    border-radius: 4px;
    padding: 5px;
    border-radius: 5px;
    width: 70%;
    float: left;
    font-size: 16px !important;
    margin-top: -10px;
    padding-left: 40%;
  }
}
.grn_large_button{
background: #9BB63C;
border: 1px solid #9BB63C;
color: #fff;
padding: 15px ;
text-transform: uppercase;
font-size: 17px;
border-radius: 5px;

&:hover {
    background: #7C9132;
    border: 1px solid #7C9132;
}
}

.grn_button {
  background: #c8c8c8;
  // border: 1px solid #c8c8c8;
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 4px;
  border-width: 0px;
  &:hover {
      background: #c8c8c8;
  }
}
.cntct_button {
  background: #c8c8c8;
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  margin-left: 2px;
  border-radius: 4px;
  border-width: 0px;
  &:hover {
      background: #c8c8c8;
  }
}
#available_rooms{
  .get-available-room{
      h4 {
          margin:0px;
      }
      .fa-2x{
          font-size:18px;
      }
      .s4a_table{
          .room-images-and-info{
              max-width: 150px;
              .room-image{
                  width:200px;
                  img{
                      border: 5px solid #fff;
                      cursor: pointer;
                      max-width: 100%;
                  }
              }
          }
          .room-images-link{
              position: relative;
              .fa-search{
                  position: absolute;
                  top: 10px;
                  right: 10px;
                  color: #fff;
              }
              .more-info{
                  display: block;
                  padding: 10px 0px;
              }
          }
          .availible-units{
              color:red;
              font-size: 11px;
          }
      }
  }
}
.s4a_table {
  border: none  !important;
  margin-bottom: 0;
  width: 100%;
  tr{
      border-bottom: 1px solid #eee;
      th{
          padding: 10px;
          color: #fff;
          background: #574d44 !important;
          font-weight: bold;
          &:last-child {
              border-right: none;
          }
      }
      td{
          padding: 10px;
          background:#fff;
          border: none !important;
      }
      &:nth-child(even){
          background: #fff;
      }
  }
}
.modal-overlay-bd{
  clear: both;
  overflow: hidden;
  .modal-column-left {
      width: 40%;
      float: left;
  }
  .modal-column-right {
      width: 57%;
      float: right;
      .room-description{
          margin-bottom: 15px;
      }
      .room-and-hotel-info{
          margin-bottom: 15px;
          .occupancy-info span{
              display: inline-block;
              margin-right: 10px;
              &:last-child{display: block;margin: 0;}
              .occupancy-info span .fa{
                  margin-right: 10px;
              }
          }
      }
      .room-details.resp-module{
          p{
              font-weight: bold;
          }
          .bulleted{
              clear: both;
              li {
                  float: left !important;
                  width: 50% !important;
              }

          }
      }
  }
}


.modal-overlay-bd .modal-column-left {
width: 55%;
}
.modal-overlay-bd .modal-column-right {
width: 42%;
}
.modal-header {
background-color: #f2f2f2
}
.fa-2x {
    font-size: 1.5em;
}

.panel-res-info-head{
  background-color: #f5f5f5 !important;
  padding: 10px;
  background-image: none!important;
  border-bottom: 1px solid #ccc !important;
}

#se365_converter_widget {
  margin-top: 5px;

  .panel-heading{
    background-color: #f5f5f5;
    padding: 10px;
    background-image: none!important;
    border-bottom: 1px solid #ccc;
  }
  .col-xs-3 {
  width: 25%;
  padding: 0 3px;
  }
  .panel-body {
  padding: 20px;
  }
  .active{
    background-color: #eee;
  }
  .panel-footer {
  background-color: transparent;
  border-top: none;
  padding-top: 0;
  font-size: 70% !important;
  }
}

/*Avada fix*/
.fusion-li-item {clear:both !important;}
.fusion-li-item > span {margin: 10px 0px !important;}

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
  
  
 
}

.fusion-row, .vc_column-inner{
z-index:auto !important;
}

.widSSPData{
border: 1px solid #ccc !important;
border-radius: 5px !important;
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
#CDSWIDSSP{
width: 100% !important;
}

#tbl_services{
color: dimgray !important;
}

.enquire_btn_section{
float:right;
width:50%;
text-align:right;
}
.room-info-btn{
padding: 10px;
background: transparent;
border: 2px solid #fff;
color: #fff;
font-weight: bold;
}
.child_occupent{
padding-left: 20px;
padding-right: 20px;
}

.feature-list{
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}

/*------------------------room pop up title -------------------------*/
.pop-up-h1  {
  font: 33px sans-serif;
  font-size: 15px;
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
}

.pop-up-h1.background {
  position: relative;
  z-index: 1;
  
  &:before {
      border-top: 1px solid #dfdfdf;
      content:"";
      margin: 0 auto; /* this centers the line to the full width specified */
      position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
      top: 50%; left: 0; right: 0; bottom: 0;
      width: 95%;
      z-index: -1;
  }

  span { 
      /* to hide the lines from behind the text, you have to set the background color the same as the container */ 
      background: #fff; 
      padding: 0 15px; 
  }
}

.pop-up-h1.double:before { 
  /* this is just to undo the :before styling from above */
  border-top: none; 
}

.pop-up-h1.double:after {
  border-bottom: 1px solid blue;
  -webkit-box-shadow: 0 1px 0 0 red;
  -moz-box-shadow: 0 1px 0 0 red;
  box-shadow: 0 1px 0 0 red;
  content: "";
  margin: 0 auto; /* this centers the line to the full width specified */
  position: absolute;
  top: 45%; left: 0; right: 0;
  width: 95%;
  z-index: -1;
}

.pop-up-h1.no-background {
  position: relative;
  overflow: hidden;
  
  span {
      display: inline-block;
      vertical-align: baseline;
      zoom: 1;
      *display: inline;
      *vertical-align: auto;
      position: relative;
      padding: 0 20px;

      &:before, &:after {
          content: '';
          display: block;
          width: 1000px;
          position: absolute;
          top: 0.73em;
          border-top: 1px solid red;
      }

      &:before { right: 100%; }
      &:after { left: 100%; }
  }
}

.pop-up-h1.no-span {
  display: table;
  white-space: nowrap;
  &:before, &:after {
    border-top: 1px solid green;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.5em;
    width: 45%;
  }
  &:before { right: 1.5%; }
  &:after { left: 1.5%; }
}


/* --------------------------rooms searh results---------------------*/
.room_contct_btn{
  float:right;
  margin-right:-29.5px;
  margin-top:-14.5px;
  border-radius:0px;
  //border-top-right-radius: 5px;
  background-color: #444;
  border: 1px solid #444;
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
}
.rates_contct_btn{
float:right;
//border-radius:5px;
background-color: #444;
border: 1px solid #444 !important;
color: #fff;
padding: 10px 20px;
text-transform: uppercase;
}
.primary_color_font{
color: #9bb63c;
}


.default{
  //border-color: #9bb63c !important;
}

.box {
position: relative;
}


/* ------------------------------unavailable ribbon-------------------------*/
.unavailable{
  //border:1px solid #e6b95f !important;
}
.ribbon-unavailable{
width: 150px;
height: 150px;
overflow: hidden;
position: absolute;
}
.ribbon-unavailable::before,
.ribbon-unavailable::after {
position: absolute;
// z-index: -1;
content: '';
display: block;
border: 5px solid #e6b95f;
}
.ribbon-unavailable span {
position: absolute;
display: block;
width: 225px;
padding: 15px 0;
background-color: #e6b95f;
box-shadow: 0 5px 10px rgba(0,0,0,.1);
color: #fff;
font: 700 18px/1 'Lato', sans-serif;
text-shadow: 0 1px 1px rgba(0,0,0,.2);
text-transform: uppercase;
text-align: center;
opacity: 0.9;
}
.ribbon-top-left-unavailable{
top: -10px;
left: -10px;
z-index: 2;
}
.ribbon-top-left-unavailable::before,
.ribbon-top-left-unavailable::after {
border-top-color: transparent;
border-left-color: transparent;
}
.ribbon-top-left-unavailable::before {
top: 0;
right: 0;
}
.ribbon-top-left-unavailable::after {
bottom: 0;
left: 0;
}
.ribbon-top-left-unavailable span {
right: -25px;
top: 30px;
transform: rotate(-45deg);
}


/* -------------------------------sold ribbon-------------------------*/
.booked-out{
//border:1px solid #b94a48 !important;
// -webkit-box-shadow: 3px 11px 49px -24px rgba(240,104,104,1) !important;
// -moz-box-shadow: 3px 11px 49px -24px rgba(240,104,104,1) !important;
// box-shadow: 3px 11px 49px -24px rgba(240,104,104,1) !important;
}

.ribbon-sold{
width: 150px;
height: 150px;
overflow: hidden;
position: absolute;
}
.ribbon-sold::before,
.ribbon-sold::after {
position: absolute;
// z-index: -1;
content: '';
display: block;
border: 5px solid #b94a48;
}
.ribbon-sold span {
position: absolute;
display: block;
width: 225px;
padding: 15px 0;
background-color: #b94a48;
box-shadow: 0 5px 10px rgba(0,0,0,.1);
color: #fff;
font: 700 18px/1 'Lato', sans-serif;
text-shadow: 0 1px 1px rgba(0,0,0,.2);
text-transform: uppercase;
text-align: center;
opacity: 0.9;
}
.ribbon-top-left-sold{
top: -10px;
left: -10px;
z-index: 2;
}
.ribbon-top-left-sold::before,
.ribbon-top-left-sold::after {
border-top-color: transparent;
border-left-color: transparent;
}
.ribbon-top-left-sold::before {
top: 0;
right: 0;
}
.ribbon-top-left-sold::after {
bottom: 0;
left: 0;
}
.ribbon-top-left-sold span {
right: -25px;
top: 30px;
transform: rotate(-45deg);
}

/* -------------------------------cheapest ribbon-------------------------*/

#cheapest{
  // border:1px solid #3498db;
  // -webkit-box-shadow: 2px 2px 30px -5px rgba(40,166,224,1);
  // -moz-box-shadow: 2px 2px 30px -5px rgba(40,166,224,1);
  // box-shadow: 2px 2px 30px -5px rgba(40,166,224,1);
}

.ribbon {
width: 150px;
height: 150px;
overflow: hidden;
position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  // z-index: -1;
  content: '';
  display: block;
  border: 5px solid #9c9c9c!important;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #9c9c9c;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font: 700 18px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  text-align: center;
  opacity: 0.9;
}
.ribbon-top-left {
top: -10px;
left: -10px;
z-index: 2;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
border-top-color: transparent;
border-left-color: transparent;
}
.ribbon-top-left::before {
top: 0;
right: 0;
}
.ribbon-top-left::after {
bottom: 0;
left: 0;
}
.ribbon-top-left span {
right: -25px;
top: 30px;
transform: rotate(-45deg);
}

/* ---------------------------room image hover-------------------------*/
.container {
margin: auto;
}

.overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0);
transition: background 0.5s ease;
}

.button-div {
position: absolute;
width: 100%;
top: 100px;
text-align: center;
opacity: 0;
transition: opacity .35s ease;
}

.button-div a {
width: 200px;
padding: 12px 48px;
text-align: center;
color: white;
border: solid 2px #fff;
z-index: 1;
}

.container:hover .overlay {
display: block;
background: rgba(0, 0, 0, .3);
}

.container:hover .button-div {
opacity: 1;
}

/* ---------------------------available room text-------------------------*/
.blink{
// background-color: #ffcccc;
text-align: center;
border-radius: 5px;
float: left;
}
.availible-units-text{
font-size: 14px;
color: #b94a48;
animation: blink 1s linear infinite;
}
@keyframes blink{
0%{opacity: 0;}
50%{opacity: .5;}
100%{opacity: 1;}
}


.looking-users{
margin-left: 10px;
text-align: left;
/* background-color: #eee; */
width: 40%;
float: right;
// color: #3498db;
}

/*----------------------------room Modal -------------------------------------*/


.modal {
top: 0;
right: 0;
bottom: 0;
left: 0;
overflow: hidden;
}

#room-modal-dialog{
  margin: 0 auto;
  width: 100% !important;
  // height: 100% !important
  padding: 0;
  max-width: 600px;

#room-modal-body{

  //   margin-left:-28px;
  // @media only screen and (max-width:1150px) {
  //   width:100%;
  // }
  // @media only screen and (min-width:1151px) {
  //   width:457px;
  // }

}

#room-features{
  border-bottom: none;
}

#roomCarousel{

  margin-bottom: 10px;
  margin-top: 10px;

  // @media screen and (min-width: 320px){
  //   width:279px;
  // }
  // @media screen and (min-width: 360px) and (max-width: 374px){
  //   width:315px;
  //   margin-left:-1px;
  // }
  // @media screen and (min-width: 375px) and (max-width: 410px){
  //   width:339px;
  //   margin-left:-1px;
  // }
  // @media screen and (min-width: 411px) and (max-width: 413px){
  // width:372px;
  // margin-left:-3px;
  // }
  // @media screen and (min-width: 414px) and (max-width: 767px){
  //   width:373px;
  //   margin-left:-2px;
  // }
  // @media screen and (min-width: 768px) and (max-width: 1023px){
  //   width:347px;
  //   margin-left:-7px;
  // }
  // @media screen and (min-width: 1024px){
  //   width:460px;
  //   margin-left:-7px;
  // }

}

}


#room-modal-content{
  @media only screen and (min-width:590px) {
    width:50%;
  }
  @media only screen and (min-width:1024px) {
    width:600px;
  }


  position: none !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
    // height: 100% !important;
  //border: 2px solid #ccc;
  border-radius: 0;
  box-shadow: none;
  border:none;
}


#room-modal-header{
position: none !important;
top: 0;
right: 0;
left: 0;
height: 50px;
padding: 10px !important;
// background: #ccc;
border: 0;
text-align: center !important;
}

#room-modal-title {
  text-transform: uppercase;
  float: left;
  margin-left: 10px;
  margin-top: 0;
  //font-weight: bold;
  font-size: 20px;
  color: #9c9c99;
}
#btn-close-modal{
  float: right;
  //margin-right: 15px;
  background-color: transparent;
  border: none;
  color: #9c9c9c;
  font-size: 20px;
  //margin-top: -10px;
  position: relative;
  z-index:9;
}

.modal-body {
top: 50px;
bottom: 60px;
width: 100%;
font-weight: 300;
overflow: auto;
}

#room-modal-footer {
position: none !important;
right: 0;
bottom: 0;
left: 0;
height: 60px;
padding: 10px;
background: #ccc;
}

::-webkit-scrollbar {
-webkit-appearance: none;
width: 10px;
background: #f1f3f5;
border-left: 1px solid darken(#f1f3f5, 10%);
}

::-webkit-scrollbar-thumb {
background: darken(#f1f3f5, 20%);
}

/*-----------------------------Rates table------------------------------------*/
#rates-table{
width:100%;
margin-top:20px;
margin-left: -20px;
}

.div-inc-exc{
  float: left;
}

/*-----------------------------Panel collapse------------------------------------*/
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

.panel {
  border-radius: 0px !important;
}

.panel-title > a.collapsed:before {
  float: right !important;
  content:"\f068";// -
}
.panel-title > a:before {
  float: right !important;
  font-family: FontAwesome;
  content:"\f067";// +
  padding-right: 5px;
}
.panel-title > a:hover,
.panel-title > a:active,
.panel-title > a:focus  {
  text-decoration:none;
}

/*-----------------------------According Pasnel-------------------------------*/
a:hover,
a:focus {
text-decoration: none;
outline: none;
}

#accordion .panel {
border: none;
background: none;
border-radius: 0;
box-shadow: none;
}

#accordion .panel-heading {
padding: 0;
}

#accordion .panel-title a {
display: block;
font-size: 13px;
// color: #9c88b9;
padding: 17px 40px 17px 65px;
// background: #fff;
// border: 1px solid #f3f3f3;
border-bottom: none;
position: relative;
transition: all 0.5s ease 0s;
}

#accordion .panel-title a.collapsed {
// background: #fafafa;
color: #959595;
}

#accordion .panel-title a.collapsed:hover {
color: #9c88b9;
}

#accordion .panel-title a:after,
#accordion .panel-title a.collapsed:after {
content: "\f068";
font-family: FontAwesome;
font-size: 15px;
// color: #fff;
width: 45px;
height: 100%;
line-height: 54px;
text-align: center;
position: absolute;
top: 0px;
left: -1px;
// background: #9bb63c;
transition: all .2s;
}

#accordion .panel-title a.collapsed:after {
content: "\f067";
// color: #959595;
// background: #f4f4f4;
transition: all 0.5s ease 0s;
}

#accordion .panel-title a.collapsed:hover:after {
// background: #9bb63c;
// color: #fff;
}

#accordion .panel-title a:before {
content: "";
position: absolute;
bottom: -11px;
left: -1px;
border-bottom: 12px solid transparent;
// border-right: 12px solid #9bb63c;
}

#accordion .panel-title a.collapsed:before {
display: none;
}

#accordion .panel-body {
font-size: 14px;
color: #b7b7b7;
padding: 0 65px 15px;
line-height: 20px;
margin-left: 12px;
// background: #fff;
// border: 1px solid #f3f3f3;
border-top: none;
}

/*-----------------------------Counter---------------------------------------*/

#s4a_counter{
position: fixed;
left: 0%;
bottom: 0%;
right: 0%;
opacity:0.9;
z-index: 1000;
background-color: #333
}

.a-continue-booking{
color:#fff;
position:absolute;
padding:10px;
width:100%;
}

#pac-controls {
display: inline-block;
padding: 5px 11px;
}

#pac-controls label {
font-family: Roboto;
font-size: 13px;
font-weight: 300;
}

#pac-input {
background-color: #fff;
font-family: Roboto;
font-size: 15px;
font-weight: 300;
margin-left: 380px;
padding: 0 11px 0 13px;
text-overflow: ellipsis;
width: 400px;
border: 3px solid #B5DC7E;
border-radius: 5px;
outline: none;
color: #9DBFAF;
}

#pac-input:focus{
color: #6C6969;
border-color: #3D6701;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

#target {
  width: 345px;
}

#s4a_pensioner{
  display:none;
}