.s4a
{

    .rateTabel{ 
        .room_rate{
            font-size: 16px;
        }
        
        table{
            th {
                color:#fff;
            }
            td,th {
                padding:10px;
            }
        } 
    }

  .ourWeb {
  	padding: 5px 25px !important;
  	background-color: grey !important;
    font-size: 8px !important;
  	text-transform: none !important;
  	color: white !important;
    margin-top:10px;
  }

    .list-intro{
        background:#fff;
        margin:0 -15px;
        .grn_button {
            display:block;
            padding: 10px 0;
        }
        .prop-prices{
            .col-md-6{
                padding:0;
            }
            small{
                display:block;
                font-size: 10px;
            }
            .prop-fro{
                font-size: 18px;
            }
        }
    }
    .ug-thumb-wrapper.ug-thumb-generated{
      img{
        position: initial !important; /* Fix Unite Gallery thumbs*/
      }
    }
    .listing-page{
        .addthis_inline_share_toolbox{
            position: absolute;
            top: 10px;
            right: 0px;
        }
        .s4a_fav{
            position: absolute;
            right: 10px;
            top: -60px;
            font-size: 30px;
            color:#ff9e1d;
            cursor: pointer;
        }
    }

    .single-property-list
    {
        #map_canvas{
            height:300px;
            width:100%;
        }
        .css_inner{

        }
        .css_listing_det{
            p{
                margin-bottom:0px;
            }

        }
        #gallery{
            margin: 0 0 @space_one 0;
            height:550px;
        }
        #check_availibility_control{


          // label {
          //   width: -webkit-fill-available;
          //   text-align: center;
          // }
            margin: @space_one 0;

            .available_rooms_special{
                width: 100px;
                text-align: center;
            }
            table{
                margin-bottom: @space_one;
                border: 1px solid @primary_two;
            }
            td,th{
                padding:@space_two;
            }
            th{
                background:@primary_two;
                &.channel_actions{
                    width:350px;
                }
            }
            .datepicker_checkin,.datepicker_checkout{
                max-width: 100%;
                text-align: center;
                border:1px #000 solid;

            }
            .datepicker_checkin{
                // margin-top: 20px;
                margin-bottom: @space_one;
                // margin-left: 33%;
                // margin-right: 33%;
            }
            // .datepicker_checkout{
            //   margin-top: 20px;
            //   margin-bottom: @space_one;
            //   margin-left: 33%;
            //   margin-right: 33%;
            // }
            input{

            }
            select{
                border-radius:0px !important;
                padding: 4px;
                border: 1px solid @primary_one;
            }
            .submit{
                text-transform: uppercase;
                float: right;
                border-radius: 0px !important;
            }
        }
        .css_features{

            .card{
                h4{
                    padding-bottom:10px;
                    border-bottom:1px #eee solid;
                    a{
                        text-decoration: none;
                        display:block;
                        i{
                            font-size: 10px;
                            vertical-align: middle;
                            text-align: center;
                            padding: 5px;
                            margin-right:10px;
                            &.fa-plus{
                                display:none;
                            }
                            &.fa-minus{
                                display:inline-block;
                            }
                        }
                    }

                    a.collapsed {
                        i{
                            &.fa-plus{
                                display:inline-block;
                            }
                            &.fa-minus{
                                display:none;
                            }
                        }
                    }

                }
            }

            ul{
                padding: 0 0 0 15px;
                line-height: @text_three;
            }
            li{
                margin-bottom:10px;
            }
            td{
                vertical-align: top;
            }
        }

    }
    .css_specials{
        .css_inner{
            border: 1px solid @primary_two;
            padding: @space_one;
            position: relative;
            h3{
                margin: 0 0 25px 0;
                text-align:center;
            }
        }
        .css_specials_value{
            padding: @space_one - 10;
            background: @primary_one;
            margin: 10px -@space_one;
            text-align:center;
            color: #fff;
        }
    }
    #listing_side{
        border: 1px solid @primary_two;
        .el_button {
            display:block;
            text-align:center;
        }
        .prop_dat{
            border-bottom: 1px solid @primary_two;
        }
        .prop_val dt {
            width: 35%;
            padding-right: 0;
        }
        .prop_val dd {
            width: 65%;
        }

    }
}
