
  #s4a_login_model {
      input[type=text], input[type=password], input[type=email],textarea{
          width:100%;
          border:1px #EEE solid;
          padding: 8px;
      }
      .s4a_login-wrap, .s4a_register-wrap{
          margin-bottom:20px;

          input{
            margin: 5px 0px;
          }
      }
}
