#s4a_less_build{
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    padding:10px;
    background:green;
    color:#fff;
    font-weight: bold;
    z-index:999999;
    text-align: center;
    &.failed{
        background:red;
    }
}

#listingQuickLinks{
    ul{
        list-style:none;
        padding: 0px;

        a.selected{
            font-weight:bold;
        }
    }
}

input.disabled{
    cursor: not-allowed !important;
}
.s4a_error-message{
    color:red !important;
}
input.s4a_val-error{
    outline: 1px solid #F00 !important;
    border: 1px solid #F00 !important;
}
input.s4a_val-warning{
    outline: 1px solid #f0ad4e !important;
    border: 1px solid #f0ad4e !important;
}
input.s4a_val-warning-again{
    outline: 1px solid #f0ad4e !important;
    border: 1px solid #f0ad4e !important;
}
.s4a_val-sucess{
    border: 1px solid #008000 !important;
}
.s4a_val-special{
    display:none !important;
}
.s4a_nowrap{
    white-space: nowrap !important;
}

#loading-overlay-full{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    //background-color: rgba(0,0,0,0.5);
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    z-index: 101;
}

#s4a_loader{
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(255,255,255,0.9);
  text-align: -webkit-center;
  text-align: center;
}

.loader-text{
  margin-top: 40px;
  font-size: 17px;
  font-weight: bold;
  color: gray;
}
.spinner {
    margin-top: 20%;
}
.spinner div {
    height: 100px;
    width: 7px;
    margin: 0 3px 0 0;
    background-color: #808080;
    display: inline-block;
    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}
.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s
}
.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s
}
.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s
}
.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s
}

.s4a{
    @-webkit-keyframes stretchdelay {
        0%, 40%, 100% {
            -webkit-transform: scaleY(0.4)
        }
        20% {
            -webkit-transform: scaleY(1)
        }
    }
    @keyframes stretchdelay {
        0%, 40%, 100% {
            transform: scaleY(0.4);
            -webkit-transform: scaleY(0.4)
        }
        20% {
            transform: scaleY(1);
            -webkit-transform: scaleY(1)
        }
    }
    .el_button{
        background:@primary_one;
        border:1px solid @primary_one;
        padding:@space_one;
        color:#fff;
        &:hover{
            background:#fff;
            color:@primary_one;
        }
    }
    .css_text_right{
        text-align:right;
    }
    .css_text_center{
        text-align:center;
    }
    .css_text_left{
        text-align:left;
    }
    .css_breadcrumb{
        list-style:none;
        padding:0px;
    }
    .css_breadcrumb:after{
        display:block;
        content:" ";
        clear:both;
    }
    .css_breadcrumb li{
        float:left;
        margin-right:5px;
        position: relative;
        padding-right: 10px;
    }
    .css_breadcrumb li:after{
        display:block;
        content:"/";
        position: absolute;
        right: 0;
        top: 0;
    }

    .error_text{
        color:red;
        font-weight: bold;
    }

    .sucess_text{
        color:green;
        font-weight: bold;
    }

    label{
        margin-bottom:0px;
    }
    .css_total{
        background: #333;
        color: #fff;
        padding: 5px;
        margin-top: 20px;
    }
}
.prop_val{
    margin-bottom:0px;
    dt,dd{
        width:72%;
        float:left;
        padding:@space_two @space_one;
        border:1px solid @primary_two;
        border-bottom:none;
    }
    dt{
        width:28%;
        border-left:none;
    }
    dd{
        border-right:none;
        border-left: 0;
    }
    &:after{
        display:block;
        content:" ";
        clear:both;
    }

}
/* Calender */
// .example {
//     width: 1000px;
// }

.example{padding-top: 20px;clear: both;}

.example button, .example button { background: transparent; border: 0; color: #fff; opacity: .5; }
.example button:hover, .example button:hover { opacity: 1; }
.example button:disabled, .example button:disabled { opacity: .2; }

.example .forward, .example .backward { float: left; font-size: 30px; color: #ccc;margin-top: 25px;}
.example .forward { float: right; }

.example .frame { margin: 0 auto; width: 94% !important; height: 100px; line-height: 200px; overflow: hidden; text-shadow: none; width: 800px; }
.example .frame ul { list-style: none; margin: 0; padding: 0; height: 100%; font-size: 50px; }
.example .frame ul li { float: left; width: 190px; height: 105px; margin: 0 1px 0 0; padding: 0; background: #eee; color: #3a3c47; text-align: center; cursor: pointer; }

.example .scrollbar { margin: 0 auto 30px; width: 940px; height: 2px; line-height: 0; }
.example .scrollbar .handle { width: 100px; height: 100%; background: #fff; cursor: pointer; }
.example .scrollbar .handle .mousearea { position: absolute; top: -9px; left: 0; width: 100%; height: 20px; }

.example .pages { list-style: none; margin: 20px 0; padding: 0; text-align: center; }
.example .pages li { display: inline-block; width: 14px; height: 14px; margin: 0 4px; text-indent: -999px; border-radius: 10px; cursor: pointer; overflow: hidden;
	background: #fff; box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
}
.example .pages li:hover { background: #aaa; }
.example .pages li.active { background: #666; }

.example .controls { margin: 50px 0 0; text-align: center; }
.example .controls .divider { display: inline-block; margin: 0 10px; }
.example .controls button { line-height: 32px; vertical-align: middle; font-family: Novecento, sans-serif; }
.example .controls button i { position: relative; top: -2px; margin: 5px; padding: 0; font-size: 32px; vertical-align: middle; }

.example .callist {
    height: 70px;
    width: 130px !important;
    line-height: 2;
      font-size: 1.3rem;
}

.example .callist.booked {
  background:#b94a48;
  color:#fff;
}

.example .callist.inRange {
  background:#d9edf7;
  color:#3a87ad;
}

.example .calRoom {
    font-size: 1.0rem;
}

.example .calButton {
    position: relative;
    margin-top: 10px;
    width: 80%;
    background-color: #3498db !important;
    opacity: 1 !important;
}

.example .calDate {
    font-weight: bold;
    font-size: 1.4rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
.example .forward, .example .backward {
    display: none ;
}

}
@media (min-width: 320px) and (max-width: 480px) {
.example .forward, .example .backward {
    display: none ;
}

}
@media (min-width: 1025px) and (max-width: 1280px) {

  .example .frame{
      width: 70% !important;
  }

}

// @media (max-width: 900px) {

//   .example {
//       display:none !important;
//   }

// }
