.s4a{
  #order_process{
      .s4a_css_results{
          padding:0px;
          h3{
              padding:10px 0px;
          }
      }
      form{
          &.payment{
              width:200px;
          }
      }
  }
    .reservation-page{
        .s4a_val-terms{
            margin:0px;
        }
        .s4a_val-invoice{
            margin:0px;
        }
        .res_form{
        }
        .css_resevation{
            .s4a_table{
                border: 1px solid #d7d7d7 !important;
                tr{
                    border-bottom: 1px solid #eee !important;
                    th{
                        background: #574d44 !important;
                        &:last-child {
                            border-right: none !important;
                        }
                    }
                    td{
                        border-right: 1px solid #d7d7d7 !important;
                    }
                    &:last-child{
                        border-bottom: 1px solid #d7d7d7 !important;
                    }
                }
            }
        }
        .payment_details{
            border: 1px #ccc solid;
            padding: 5px;
            background: #F7F7F7;
            border-radius: 5px;
            hr{
                border-top: 1px solid #ccc;
            }
            .total{
                margin-top: 20px;
                background:#444;
                color:#fff;
                td{
                    padding:0px 5px;
                    white-space: nowrap;
                }
            }
            a{
                font-size:16px;
            }
            table{
                td{
                    font-size:16px;
                }
            }
        }
        .coupon_details{
            margin-top: 10px;
            border: 1px #ccc solid;
            padding: 5px;
            //background: #eee;
            border-radius: 5px;
            box-shadow: 0 1px 1px rgba(0,0,0,0.05);
            -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);

            p{
                font-size: 18px;
                color: #333;

            }
            b{
                font-weight: 400;
            }
            .apply_button{
                background:#444;
                color:#fff;
                padding: 10px;
                border: 1px solid #444;
                border-radius: 5px;
                margin-bottom: 10px;
            }
            input[type="button"]:disabled {
                opacity: 0.5;
            }
        }
        .transition_notice{
            p{
                text-align:center;
            }
            .loader{
                text-align:center;
                margin:25px;
            }
        }
    }
}
