@media (max-width: 767px) {
  .get-available-room table { border: 0 !important; }
  .get-available-room table thead {border: none;clip: rect(0 0 0 0);height: 1px;margin: -1px;overflow: hidden;padding: 0;position: absolute;width: 1px;}
  .get-available-room table tr {border-bottom: 3px solid #ddd;display: block;margin-bottom: .625em; border: 0 !important; border: 1px solid #e7e7e7 !important;}
  .get-available-room table td { border-bottom: 1px solid #ddd;display: block;text-align: left !important; border-right: 0 !important; }
  .get-available-room table td:before {content: attr(data-label);float: left;font-weight: bold;text-transform: uppercase;}
  .get-available-room table td:last-child {border-bottom: 0;}
  .get-available-room table .first-cell { display: none; }
  .get-available-room{
      .s4a_table{
          .room-images-and-info{
              max-width:100% !important;
              .room-image{
                  width:100% !important;
              }
          }
      }
  }
  .counter-div{
    text-align: left !important;
    height: 40px !important;
    border-bottom: 1px solid #7C7979;
  }
  .counter-div-3{
    text-align: left !important;
    height: 40px !important;
    border-bottom: 1px solid #7C7979;
    padding-top: 10px !important;
  }
  .a-continue-booking{
    position:unset;
    padding-left: 0;
  }
  #display{
    padding-left: 0px !important;
  }
  #tbl_services{
  color: dimgray !important;
  }
  #tbl_services thead th{
    display: none;
  }
  #tbl_services td, th {
     display: block;
  }
  #tbl_services td > div {
    text-align: -webkit-right;
  }
  #tbl_services td[data-th]:before {
    content: attr(data-th);
    float: left;
  }
  #s4a_counter {
    text-align: center;
  }
  #check_availibility_control #search_dates{
    display: block;
  }
  #check_availibility_control #js_SearchForSpecials {
    text-align: center;
    border-radius: 0px;
    width: 100%;
    float: left;
    margin-top: -10px;
    padding-left: 0;
  }
  #check_availibility_control #search-availability{
    width:100%;
    text-align: center;
    margin-right: 0;
    border-top-right-radius:0;
    margin-top: 0px;
    margin-bottom: 10px;
  }

  #check_availibility_control #search-availability-offline{
    width:100%;
    text-align: center;
    margin-right: 0;
    border-top-right-radius:0;
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .room-title{
    width: 100% !important;
    margin-top: 10px;
    border-bottom: 1px solid #ccc;
  }
  .room-sleeps-info{
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid #ccc;
  }
  .button-div{
    width: 100%;
    left: 0;
  }
  .img-responsive{
    border-radius: 0px !important;
  }
  #room-features{
    border-right: 0px !important;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
  }
  #rates-table{
    margin-top:20px;
    margin-left: 0px;
    border: 0px !important;
  }
  #rates-table td, th,tr {
     display: block;
     clear: both;
     border: 0px !important;
     border-bottom: 0px !important;
     border-top: 0px !important;
     border-left: 0px !important;
     border-right: 0px !important;
   }
  .div-inc-exc{
    float: none;
    width:100% !important;
  }

  .enquire_btn_section{
    float:left;
    width:100%;
    text-align:center;
  }
  .room_contct_btn{
   border-top-right-radius: 0px;
   margin-right: -21px;
   float: none;
  }
  .blink{
    width:100%;
  }
  .looking-users{
    width:100%;
    text-align:center;
  }

  #roomCarousel, #room-modal-body{
    margin-top:0px !important;
    margin-left: 0px !important;
    width: 100% !important;
  }

}

@media (min-width: 767px) {
  .modal-dialog {
    width: 1000px !important;
    }
}
// Portrait Tablet Image
@media (min-width:600px) {
.s4a_table .room-image img{
		max-width: 80%!important;
	}
}
