.s4a_css_results{
    .css_inner{
        border:1px solid @primary_two;
        margin-bottom:@space_one;
    }
    .css_bg_image,.css_bg_image_pic{
        background-size:cover;
        background-position: center;
        display:block;
        height:200px;
        position:relative;
    }
    .css_bg_image_pic{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        -webkit-transition: all ease-out 1s;
        -moz-transition: all ease-out 1s;
        -o-transition: all ease-out 1s;
        transition: all ease-out 1s;
    }
    .css_bg_image {
        overflow: hidden;
    }
    .css_bg_image_pic:hover { transform:scale(1.1); }
    h3,.result_button{
        margin: 0px;
        padding: @space_two @space_one @space_two @space_one;
        font-size: @text_two;
        background: @primary_one;
        display:block; 
        color:#fff;
        a{
            color:#fff;
        }
    }
    .result_tile{
        .online-booking{
            display: block;
            position: absolute;
            z-index: 1;
            background: rgba(255,255,255,0.8);
            border-radius: 0px 5px 5px 0px;
            padding: 5px;
            top: 10px;
            .fa{
                color: green;
                margin-right: 5px;
            }
        }
        h3{
            position:relative;
        }
        .css_txt_ecli{
            text-overflow: ellipsis;
            width: 100%;
            display: block;
            white-space: nowrap;
            overflow: hidden;
        }
        a{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-right: 20px;
            width: 100%;
            display: block;
            text-decoration: none;
        }
        .s4a_fav{
            position: absolute;
            right:0px;
            top:0px;
            color:#ff9e1d;
            cursor: pointer;
            font-size:20px;
            padding: 8px;
        }
        .result_dis{
            background: @primary_one;
            color: #fff;
            padding: @space_two @space_one;
            position: absolute;
            span{
                margin-left: @space_two;
            }
        }
    }
}

#results_navigation{
    width:330px;
    text-align:center;
    margin:20px auto;
    .previous_page,.total_pages,.next_page{
        width:33%;
        float:left;
    }
}