.s4a-search{
  small{
    font-size: 10px;
    display: block;
    padding-top: 10px;
    margin-top: 10px;
  }
  .property_search_form{
    padding: 20px;
    border: 1px solid #ccc;
  }
  .keyword{
    margin: 0 0 10px 0;
    width: 100%;
  }
  .keyword, .datepicker_checkin, .datepicker_checkout {
    padding: 4px;
    background-image: none;
    border: 1px solid #ccc;
  }
  .datepicker_checkin, .datepicker_checkout {
    max-width: 105px;
    font-size: 12px;
    float:left;
    padding: 7px 4px 4px 4px;
    margin: 10px 0 20px;
  }
  .css_date:after{
    display:block;
    content:" ";
  }
  .datepicker_checkout {
    float:right;
  }
  .irs {
    height: 55px;
    margin: 15px 0;
  }
  .irs-with-grid {
    height: 75px;
  }
  .irs-line {
    height: 10px;
    top: 33px;
    background: #EEE;
    background: linear-gradient(to bottom, #DDD -50%, #FFF 150%);
    border: 1px solid #CCC;
  }
  .irs-line-left {
    height: 8px;
  }
  .irs-line-mid {
    height: 8px;
  }
  .irs-line-right {
    height: 8px;
  }
  .irs-bar {
    height: 10px;
    top: 33px;
    background: #333;
  }
  .irs-bar-edge {
    height: 10px;
    top: 33px;
    width: 14px;
    border: 1px solid #428bca;
    border-right: 0;
    background: #428bca;
    background: linear-gradient(to top, rgba(66,139,202,1) 0%,rgba(127,195,232,1) 100%);
  }
  .irs-shadow {
    height: 2px;
    top: 38px;
    background: #000;
    opacity: 0.3;
  }
  .lt-ie9 {
    .irs-shadow {
      filter: alpha(opacity=30);
    }
    .irs-min,.irs-max {
      background: #ccc;
    }
    .irs-from,.irs-to,.irs-single  {
      background: #999;
    }
  }
  .irs-slider {
    top: 25px;
    width: 27px;
    height: 27px;
    border: 1px solid #ccc;
    background: #fff;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    cursor: pointer;
    &:hover {
      background: #FFF;
    }
  }
  .irs-slider.state_hover {
    background: #FFF;
  }
  .irs-min,.irs-max {
    color: #333;
    font-size: 12px;
    line-height: 1.333;
    text-shadow: none;
    top: 0;
    padding: 1px 5px;
    background: rgba(0,0,0,0.1);
  }
  .irs-from,.irs-to,.irs-single {
    color: #fff;
    font-size: 14px;
    line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
    background: #333;
    border-radius: 4px;
  }

  .irs-grid {
    height: 27px;
  }
  .irs-grid-pol {
    opacity: 0.5;
    background: #428bca;
  }
  .irs-grid-pol.small {
    background: #999;
  }
  .irs-grid-text {
    bottom: 5px;
    color: #99a4ac;
  }
  .irs {
    position: relative;
    display: block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .irs-line {
    position: relative;
    display: block;
    overflow: hidden;
    outline: none !important;
  }
  .irs-line-left {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 11%;
  }
  .irs-line-mid {
    position: absolute;
    display: block;
    top: 0;
    left: 9%;
    width: 82%;
  }
  .irs-line-right {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 11%;
  }
  .irs-bar {
    position: absolute;
    display: block;
    left: 0;
    width: 0;
  }
  .irs-bar-edge {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
  }
  .irs-shadow {
    position: absolute;
    display: none;
    left: 0;
    width: 0;
  }
  .irs-slider {
    position: absolute;
    display: block;
    cursor: default;
    z-index: 1;
  }
  .irs-slider.type_last {
    z-index: 2;
  }
  .irs-min {
    position: absolute;
    display: block;
    left: 0;
    cursor: default;
  }
  .irs-max {
    position: absolute;
    display: block;
    right: 0;
    cursor: default;
  }
  .irs-from {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    cursor: default;
    white-space: nowrap;
  }
  .irs-to {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    cursor: default;
    white-space: nowrap;
  }
  .irs-single {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    cursor: default;
    white-space: nowrap;
  }
  .irs-grid {
    position: absolute;
    display: none;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
  }
  .irs-with-grid {
    .irs-grid {
      display: block;
    }
  }
  .irs-grid-pol {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 8px;
    background: #000;
  }
  .irs-grid-pol.small {
    height: 4px;
  }
  .irs-grid-text {
    position: absolute;
    bottom: 0;
    left: 0;
    white-space: nowrap;
    text-align: center;
    font-size: 9px;
    line-height: 9px;
    padding: 0 3px;
    color: #000;
  }
  .irs-disable-mask {
    position: absolute;
    display: block;
    top: 0;
    left: -1%;
    width: 102%;
    height: 100%;
    cursor: default;
    background: rgba(0,0,0,0.0);
    z-index: 2;
  }
  .irs-disabled {
    opacity: 0.4;
  }
  .lt-ie9 {
    .irs-disabled {
      filter: alpha(opacity=40);
    }
  }
  .irs-hidden-input {
    position: absolute !important;
    display: block !important;
    top: 0 !important;
    left: 0 !important;
    width: 0 !important;
    height: 0 !important;
    font-size: 0 !important;
    line-height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    outline: none !important;
    z-index: -9999 !important;
    background: none !important;
    border-style: solid !important;
    border-color: transparent !important;
  }
  .SumoSelect {
    p {
      margin: 0;
    }
    width: 100%;
    display: inline-block;
    position: relative;
    outline: none;
    margin: 10px 0;
    .hidden {
      display: none;
    }
    .search-txt {
      display: none;
      outline: none;
    }
    .no-match {
      display: none;
      padding: 6px;
    }
    >.optWrapper {
      >.options {
        li.opt {
          label {
            user-select: none;
            -o-user-select: none;
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
          }
          padding: 6px 6px;
          position: relative;
          border-bottom: 1px solid #f5f5f5;
          &:hover {
            background-color: #E4E4E4;
          }
        }
        position: relative;
        max-height: 250px;
        li.group.disabled {
          >label {
            opacity: 0.5;
          }
        }
        li {
          ul {
            li.opt {
              padding-left: 22px;
            }
          }
          label {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            display: block;
            cursor: pointer;
          }
          span {
            display: none;
          }
        }
        >li.opt {
          &:last-child {
            border-bottom: none;
          }
        }
        li.opt.sel {
          background-color: #a1c0e4;
        }
        li.group {
          >label {
            cursor: default;
            padding: 8px 6px;
            font-weight: bold;
          }
        }
        li.opt.disabled {
          background-color: inherit;
          pointer-events: none;
          * {
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
            filter: alpha(opacity=50);
            -moz-opacity: 0.5;
            -khtml-opacity: 0.5;
            opacity: 0.5;
          }
        }
        li.optGroup {
          padding-left: 5px;
          text-decoration: underline;
        }
      }
      display: none;
      z-index: 1000;
      top: 30px;
      width: 100%;
      position: absolute;
      left: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      background: #fff;
      border: 1px solid #ddd;
      box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.11);
      overflow: hidden;
      ul {
        list-style: none;
        display: block;
        padding: 0;
        margin: 0;
        overflow: auto;
      }
      >.MultiControls {
        display: none;
        border-top: 1px solid #ddd;
        background-color: #fff;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.13);
      }
    }
    >.CaptionCont {
      user-select: none;
      -o-user-select: none;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      position: relative;
      border: 1px solid #ccc;
      min-height: 14px;
      background-color: #fff;
      margin: 0;
      >span {
        display: block;
        padding-right: 30px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      >span.placeholder {
        color: #ccc;
        font-style: italic;
      }
      >label {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 30px;
        >i {
          background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wMdBhAJ/fwnjwAAAGFJREFUKM9jYBh+gBFKuzEwMKQwMDB8xaOWlYGB4T4DA0MrsuapDAwM//HgNwwMDDbYTJuGQ8MHBgYGJ1xOYGNgYJiBpuEpAwODHSF/siDZ+ISBgcGClEDqZ2Bg8B6CkQsAPRga0cpRtDEAAAAASUVORK5CYII=');
          background-position: center center;
          width: 16px;
          height: 16px;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          background-repeat: no-repeat;
          opacity: 0.8;
        }
      }
    }
    .select-all {
      >label {
        user-select: none;
        -o-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        cursor: pointer;
      }
      >span {
        position: absolute;
        display: block;
        width: 30px;
        top: 0;
        bottom: 0;
        margin-left: -35px;
        i {
          position: absolute;
          margin: auto;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          width: 14px;
          height: 14px;
          border: 1px solid #AEAEAE;
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
          background-color: #fff;
          cursor: pointer;
        }
      }
      position: relative;
      border-bottom: 1px solid #ddd;
      background-color: #fff;
      padding: 8px 0 3px 35px;
      cursor: pointer;
    }
    &:focus {
      >.CaptionCont {
        box-shadow: 0 0 2px #7799D0;
        border-color: #7799D0;
      }
    }
    &:hover {
      >.CaptionCont {
        box-shadow: 0 0 2px #7799D0;
        border-color: #7799D0;
      }
    }
    >.optWrapper.multiple {
      >.options {
        li {
          ul {
            li.opt {
              padding-left: 50px;
            }
          }
        }
        li.opt {
          padding-left: 35px;
          cursor: pointer;
          span {
            position: absolute;
            display: block;
            width: 30px;
            top: 0;
            bottom: 0;
            margin-left: -35px;
            i {
              position: absolute;
              margin: auto;
              left: 0;
              right: 0;
              top: 0;
              bottom: 0;
              width: 14px;
              height: 14px;
              border: 1px solid #AEAEAE;
              box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
              background-color: #fff;
            }
          }
        }
        li.opt.selected {
          span {
            i {
              background-color: rgb(17, 169, 17);
              box-shadow: none;
              border-color: transparent;
              background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAGCAYAAAD+Bd/7AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAABMSURBVAiZfc0xDkAAFIPhd2Kr1WRjcAExuIgzGUTIZ/AkImjSofnbNBAfHvzAHjOKNzhiQ42IDFXCDivaaxAJd0xYshT3QqBxqnxeHvhunpu23xnmAAAAAElFTkSuQmCC');
              background-repeat: no-repeat;
              background-position: center center;
            }
          }
        }
      }
      >.MultiControls {
        >p {
          display: inline-block;
          cursor: pointer;
          padding: 12px;
          width: 50%;
          box-sizing: border-box;
          text-align: center;
          &:hover {
            background-color: #f1f1f1;
          }
        }
        >p.btnOk {
          border-right: 1px solid #DBDBDB;
        }
      }
    }
    >.optWrapper.isFloating {
      >.options {
        max-height: 100%;
        box-shadow: 0 0 100px #595959;
        li.opt {
          padding: 12px 6px;
        }
      }
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      width: 90%;
      bottom: 0;
      margin: auto;
      max-height: 90%;
    }
    .select-all.sel {
      background-color: #a1c0e4;
    }
    >.optWrapper.multiple.isFloating {
      >.MultiControls {
        display: block;
        margin-top: 5px;
        position: absolute;
        bottom: 0;
        width: 100%;
      }
      >.options {
        li.opt {
          padding-left: 35px;
        }
      }
      padding-bottom: 43px;
    }
    >.optWrapper.multiple.okCancelInMulti {
      >.MultiControls {
        display: block;
        >p {
          padding: 6px;
          &:focus {
            box-shadow: 0 0 2px #a1c0e4;
            border-color: #a1c0e4;
            outline: none;
            background-color: #a1c0e4;
          }
        }
      }
    }
    .select-all.selected {
      >span {
        i {
          background-color: rgb(17, 169, 17);
          box-shadow: none;
          border-color: transparent;
          background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAGCAYAAAD+Bd/7AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAABMSURBVAiZfc0xDkAAFIPhd2Kr1WRjcAExuIgzGUTIZ/AkImjSofnbNBAfHvzAHjOKNzhiQ42IDFXCDivaaxAJd0xYshT3QqBxqnxeHvhunpu23xnmAAAAAElFTkSuQmCC');
          background-repeat: no-repeat;
          background-position: center center;
        }
      }
    }
    .select-all.partial {
      >span {
        i {
          background-color: rgb(17, 169, 17);
          box-shadow: none;
          border-color: transparent;
          background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAGCAYAAAD+Bd/7AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAABMSURBVAiZfc0xDkAAFIPhd2Kr1WRjcAExuIgzGUTIZ/AkImjSofnbNBAfHvzAHjOKNzhiQ42IDFXCDivaaxAJd0xYshT3QqBxqnxeHvhunpu23xnmAAAAAElFTkSuQmCC');
          background-repeat: no-repeat;
          background-position: center center;
          background-color: #ccc;
        }
      }
    }
  }
  .SelectBox {
    padding: 5px 8px;
  }
  .sumoStopScroll {
    overflow: hidden;
  }
  .SumoSelect.open {
    .search-txt {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      margin: 0;
      padding: 5px 8px;
      border: none;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    >.search {
      >span {
        visibility: hidden;
      }
      >label {
        visibility: hidden;
      }
    }
    >.CaptionCont {
      box-shadow: 0 0 2px #7799D0;
      border-color: #7799D0;
    }
    >.optWrapper {
      top: 35px;
      display: block;
    }
    >.optWrapper.up {
      top: auto;
      bottom: 100%;
      margin-bottom: 5px;
    }
  }
  .SelectClass {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    z-index: 1;
  }
  .SumoUnder {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
  }
  .SumoSelect.disabled {
    opacity: 0.7;
    cursor: not-allowed;
    >.CaptionCont {
      border-color: #ccc;
      box-shadow: none;
    }
  }
}
